ADITYA KUMAR SINGH - 118A2101 - EXTC B

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files

uploaded=files.upload()

Saving Mall_Customers.csv to Mall_Customers (1).csv

In [2]:
data=pd.read_csv('Mall_Customers.csv')
X = data.iloc[:, :-1]
y = data.iloc[:, 4]
print (X)

print(y)

     CustomerID   Genre  Age  Annual Income (k$)
0             1    Male   19                  15
1             2    Male   21                  15
2             3  Female   20                  16
3             4  Female   23                  16
4             5  Female   31                  17
..          ...     ...  ...                 ...
195         196  Female   35                 120
196         197  Female   45                 126
197         198    Male   32                 126
198         199    Male   32                 137
199         200    Male   30                 137

[200 rows x 4 columns]
0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64

In [3]:
genre=pd.get_dummies(X['Genre'], drop_first= True) 
print(genre)

     Male
0       1
1       1
2       0
3       0
4       0
..    ...
195     0
196     0
197     1
198     1
199     1

[200 rows x 1 columns]

In [4]:
X = X.iloc[:, 2:4]
print(X)

     Age  Annual Income (k$)
0     19                  15
1     21                  15
2     20                  16
3     23                  16
4     31                  17
..   ...                 ...
195   35                 120
196   45                 126
197   32                 126
198   32                 137
199   30                 137

[200 rows x 2 columns]

In [5]:
X=pd.concat([X,genre],axis=1)
print(X)

     Age  Annual Income (k$)  Male
0     19                  15     1
1     21                  15     1
2     20                  16     0
3     23                  16     0
4     31                  17     0
..   ...                 ...   ...
195   35                 120     0
196   45                 126     0
197   32                 126     1
198   32                 137     1
199   30                 137     1

[200 rows x 3 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/5, random_state = 0)


from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)


y_pred = regressor.predict(X_test)
print(y_test)

18     29
170    13
107    46
98     42
177    69
182    15
5      76
146    36
12     15
152    20
61     55
125    77
180    32
154    16
80     51
7      94
33     92
130     9
37     73
74     47
183    88
145    97
45     65
159    73
60     56
123    91
179    90
185    97
122    58
44     28
16     35
55     41
150    17
111    54
22      5
189    85
129    75
4      40
83     44
106    50
Name: Spending Score (1-100), dtype: int64

In [7]:
print(y_pred)

[41.59963189 46.02834825 39.69974027 42.69370876 52.39298817 42.82801232
 60.56021476 42.32683332 42.80277125 48.35176892 57.28684828 54.92277627
 51.3555649  46.87771439 38.43205317 60.04593354 58.07628609 42.95576312
 56.23959753 37.44935015 55.26344727 52.15386352 59.07305801 55.23069006
 32.22792126 46.93243463 48.34752751 50.66670677 50.52354239 46.78927025
 54.08092627 43.59779514 44.76066115 60.9795024  48.5843408  51.70933812
 47.37792671 56.13805117 47.91937906 37.88598142]

In [8]:
import math
from sklearn.metrics import mean_squared_error
rmse = math.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)

25.3069736793019

In [9]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print(score)

0.15451964144097086